# **HOMEWORK 1 (110 points + 1) : CAUTION! CONTENTS ARE HOT** üåã
## **DUE: *SEPTEMBER 18, 2025 @ 11:59 PM***
## **24-HR LATE DUE DATE WITH A 15% PENALTY: *SEPTEMBER 19, 2025 @ 11:59 PM***

The [NCEI/WDS Global Significant Volcanic Eruptions Database](https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.ngdc.mgg.hazards:G10147) is a very comprehensive collection of +600 volcanic eruptions dating from 4360 BC to the present. Due to the nature of this assignment, we will be dealing with relatively newer volcanoes (in which some are still obviously still older than anyone on Earth currently). Each eruption in the database is classified as significant if it meets one or more criteria, such as causing fatalities, incurring **damage on property** (**+$1 million**), reaching a **Volcanic Explosivity Index (VEI)** of **6 or higher**, generating a tsunami, or being linked to a significant earthquake. The VEI is a scale that measures the explosiveness of volcanic eruptions, providing insight into the magnitude and potential consequences of the eruptions. The database includes detailed information on the location, type of volcano, last known eruption, VEI, casualties, property damage, and much more.
![volcano](https://wikitravel.org/upload/shared//9/99/Volcano_de_Fuego_Banner.jpg)
**We are going to dive straight into these volcanoes (well... their dataset), to swim our way into Pandas proficiency!**

You will find the [Pandas Documentation](https://pandas.pydata.org/docs/user_guide/index.html) helpful. There are also some helpful links to guide you along the way! Don't get burned üî•

# **For this assignment, we are including a special bonus question to help everyone get familiar with the proper assignment submission routine. We strongly encourage you to complete Bonus Question 1, learn the process, and follow this practice for all future assignments.**

# **For this assignment only, you will not lose points if you skip the bonus question. However, starting from Homework 2, submitting both the Jupyter Notebook file and the PDF will be required in order to receive full credit.**

### **DO NOT REMOVE ANY PART OF ANY OF THE QUESTIONS OR YOU LOSE CREDIT**
### *No Hardcoding either*  üòã‚ù§Ô∏è‚Äçüî•
### **REMEMBER TO SHOW OUTPUT**

### **Part 1: Maintenance ü§© (25 POINTS TOTAL)**
First, we're going to familiarize ourselves with the process. As in most languages, Python looks best when its modules are imported first before any other code is written ‚ú®

In [224]:
# Make sure these code blocks run properly and that you have properly installed the appropriate modules required.
import pandas as pd
import requests
# import other libraries here

# Don't Remove this
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

As you may have noticed, there's another library aside from Pandas called "[requests](https://requests.readthedocs.io/en/latest/)." **The requests library allows you to send HTTP requests to a server, retrieve the content, and process it at ease.** It's very beginner friendly for those attempting to get into webscraping (super important for collecting and creating datasets). We also recommend looking into [BeautifulSoup](https://beautiful-soup-4.readthedocs.io/en/latest/) (yeah, soup LOL), another wonderful library that can be paired with the requests library for webscraping.

As shown below, sometimes specific websites require specific headers in order to process a request to access the data.

To check if a request was processed successfully, use the [status_code](https://requests.readthedocs.io/en/latest/api/) function to see if the process returned 200.

In [225]:
# API URL and headers in case request gets denied.
api_url = "https://www.ngdc.noaa.gov/hazel/hazard-service/api/v1/volcanoes"

headers = {
    'accept': '*/*'
}

data = requests.get(api_url)
data.json()

{'items': [{'id': 1,
   'year': 1169,
   'month': 2,
   'day': 4,
   'tsunamiEventId': 2852,
   'earthquakeEventId': 421,
   'volcanoLocationId': 10106,
   'volcanoLocationNewNum': 211060,
   'volcanoLocationNum': '0101-06=',
   'name': 'Etna',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 37.748,
   'longitude': 14.999,
   'elevation': 3357,
   'morphology': 'Stratovolcano',
   'agent': 'S,W',
   'deathsTotal': 16000,
   'deathsAmountOrderTotal': 4,
   'damageAmountOrderTotal': 4,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 2,
   'year': 1329,
   'month': 7,
   'day': 15,
   'volcanoLocationId': 10106,
   'volcanoLocationNewNum': 211060,
   'volcanoLocationNum': '0101-06=',
   'name': 'Etna',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 37.748,
   'longitude': 14.999,
   'elevation': 3357,
   'morphology': 'Stratovolcano',
   'vei': 3,
   'agent': 'I',
   'deathsAmountOrder': 3,
   'deathsAmountOrderTotal': 3,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 3,
   'year': 1883,
   'month': 3,
   'volcanoLocationId': 30301,
   'volcanoLocationNewNum': 233010,
   'volcanoLocationNum': '0303-01=',
   'name': 'Karthala',
   'location': 'Indian O-W',
   'country': 'Comoros',
   'latitude': -11.75,
   'longitude': 43.38,
   'elevation': 2361,
   'morphology': 'Shield volcano',
   'vei': 2,
   'agent': 'L',
   'deathsAmountOrder': 3,
   'damageAmountOrder': 3,
   'deathsAmountOrderTotal': 3,
   'damageAmountOrderTotal': 3,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 4,
   'year': 1888,
   'month': 3,
   'day': 13,
   'tsunamiEventId': 1175,
   'volcanoLocationId': 50107,
   'volcanoLocationNewNum': 251070,
   'volcanoLocationNum': '0501-07=',
   'name': 'Ritter Island',
   'location': 'New Guinea-NE of',
   'country': 'Papua New Guinea',
   'latitude': -5.519,
   'longitude': 148.115,
   'elevation': 75,
   'morphology': 'Stratovolcano',
   'vei': 2,
   'agent': 'W',
   'deathsAmountOrderTotal': 4,
   'damageAmountOrderTotal': 3,
   'housesDestroyedAmountOrderTotal': 3,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 5,
   'year': 1850,
   'volcanoLocationId': 50214,
   'volcanoLocationNewNum': 252140,
   'volcanoLocationNum': '0502-14=',
   'name': 'Rabaul',
   'location': 'New Britain-SW Pac',
   'country': 'Papua New Guinea',
   'latitude': -4.246,
   'longitude': 152.194,
   'elevation': 688,
   'morphology': 'Pyroclastic shield',
   'vei': 2,
   'agent': 'T',
   'deathsAmountOrder': 3,
   'deathsAmountOrderTotal': 3,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 6,
   'year': 1832,
   'month': 11,
   'day': 1,
   'volcanoLocationId': 10106,
   'volcanoLocationNewNum': 211060,
   'volcanoLocationNum': '0101-06=',
   'name': 'Etna',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 37.748,
   'longitude': 14.999,
   'elevation': 3357,
   'morphology': 'Stratovolcano',
   'vei': 2,
   'agent': 'L',
   'deathsAmountOrder': 2,
   'deathsAmountOrderTotal': 2,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 7,
   'year': 1977,
   'month': 1,
   'day': 10,
   'volcanoLocationId': 20303,
   'volcanoLocationNewNum': 223030,
   'volcanoLocationNum': '0203-03=',
   'name': 'Nyiragongo',
   'location': 'Africa-C',
   'country': 'Congo, DRC',
   'latitude': -1.52,
   'longitude': 29.25,
   'elevation': 3470,
   'morphology': 'Stratovolcano',
   'vei': 1,
   'agent': 'L',
   'deathsAmountOrder': 2,
   'damageAmountOrder': 3,
   'deathsAmountOrderTotal': 2,
   'damageAmountOrderTotal': 3,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 8,
   'year': 787,
   'volcanoLocationId': 10102,
   'volcanoLocationNewNum': 211020,
   'volcanoLocationNum': '0101-02=',
   'name': 'Vesuvius',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 40.821,
   'longitude': 14.426,
   'elevation': 1281,
   'morphology': 'Complex volcano',
   'vei': 3,
   'deathsAmountOrder': 1,
   'damageAmountOrder': 1,
   'deathsAmountOrderTotal': 1,
   'damageAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D2'},
  {'id': 9,
   'year': 1779,
   'month': 8,
   'day': 8,
   'volcanoLocationId': 10102,
   'volcanoLocationNewNum': 211020,
   'volcanoLocationNum': '0101-02=',
   'name': 'Vesuvius',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 40.821,
   'longitude': 14.426,
   'elevation': 1281,
   'morphology': 'Complex volcano',
   'vei': 3,
   'deathsAmountOrder': 1,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D2'},
  {'id': 10,
   'year': 1302,
   'volcanoLocationId': 10103,
   'volcanoLocationNewNum': 211030,
   'volcanoLocationNum': '0101-03=',
   'name': 'Ischia',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 40.73,
   'longitude': 13.897,
   'elevation': 789,
   'morphology': 'Complex volcano',
   'deathsAmountOrder': 1,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D6'},
  {'id': 11,
   'year': 1907,
   'month': 8,
   'day': 4,
   'volcanoLocationId': 201112,
   'volcanoLocationNewNum': 221112,
   'volcanoLocationNum': '0201-112',
   'name': 'Alayta',
   'location': 'Africa-NE',
   'country': 'Ethiopia',
   'latitude': 12.888,
   'longitude': 40.573,
   'elevation': 1496,
   'morphology': 'Shield volcano',
   'vei': 2,
   'deathsAmountOrder': 1,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D2'},
  {'id': 12,
   'year': 1905,
   'month': 3,
   'day': 10,
   'volcanoLocationId': 10102,
   'volcanoLocationNewNum': 211020,
   'volcanoLocationNum': '0101-02=',
   'name': 'Vesuvius',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 40.821,
   'longitude': 14.426,
   'elevation': 1281,
   'morphology': 'Complex volcano',
   'vei': 2,
   'agent': 'T',
   'deaths': 1,
   'deathsAmountOrder': 1,
   'injuries': 1,
   'injuriesAmountOrder': 1,
   'deathsTotal': 1,
   'deathsAmountOrderTotal': 1,
   'injuriesTotal': 1,
   'injuriesAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D2'},
  {'id': 13,
   'year': 1986,
   'month': 7,
   'day': 24,
   'volcanoLocationId': 10104,
   'volcanoLocationNewNum': 211040,
   'volcanoLocationNum': '0101-04=',
   'name': 'Stromboli',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 38.789,
   'longitude': 15.213,
   'elevation': 924,
   'morphology': 'Stratovolcano',
   'vei': 2,
   'agent': 'T',
   'deaths': 1,
   'deathsAmountOrder': 1,
   'deathsTotal': 1,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 14,
   'year': 1536,
   'month': 3,
   'day': 26,
   'volcanoLocationId': 10106,
   'volcanoLocationNewNum': 211060,
   'volcanoLocationNum': '0101-06=',
   'name': 'Etna',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 37.748,
   'longitude': 14.999,
   'elevation': 3357,
   'morphology': 'Stratovolcano',
   'vei': 3,
   'agent': 'T',
   'deaths': 1,
   'deathsAmountOrder': 1,
   'deathsTotal': 1,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 15,
   'year': 1904,
   'month': 2,
   'day': 25,
   'volcanoLocationId': 30301,
   'volcanoLocationNewNum': 233010,
   'volcanoLocationNum': '0303-01=',
   'name': 'Karthala',
   'location': 'Indian O-W',
   'country': 'Comoros',
   'latitude': -11.75,
   'longitude': 43.38,
   'elevation': 2361,
   'morphology': 'Shield volcano',
   'vei': 2,
   'agent': 'L',
   'deaths': 1,
   'deathsAmountOrder': 1,
   'damageAmountOrder': 1,
   'deathsTotal': 1,
   'deathsAmountOrderTotal': 1,
   'damageAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 16,
   'year': 1878,
   'month': 2,
   'day': 4,
   'tsunamiEventId': 1095,
   'earthquakeEventId': 6195,
   'volcanoLocationId': 50214,
   'volcanoLocationNewNum': 252140,
   'volcanoLocationNum': '0502-14=',
   'name': 'Rabaul',
   'location': 'New Britain-SW Pac',
   'country': 'Papua New Guinea',
   'latitude': -4.246,
   'longitude': 152.194,
   'elevation': 688,
   'morphology': 'Pyroclastic shield',
   'vei': 3,
   'agent': 'T',
   'deaths': 1,
   'deathsAmountOrder': 1,
   'deathsTotal': 1,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 17,
   'year': 1737,
   'month': 5,
   'day': 20,
   'volcanoLocationId': 10102,
   'volcanoLocationNewNum': 211020,
   'volcanoLocationNum': '0101-02=',
   'name': 'Vesuvius',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 40.821,
   'longitude': 14.426,
   'elevation': 1281,
   'morphology': 'Complex volcano',
   'vei': 3,
   'agent': 'T',
   'deaths': 2,
   'deathsAmountOrder': 1,
   'damageAmountOrder': 2,
   'deathsTotal': 2,
   'deathsAmountOrderTotal': 1,
   'damageAmountOrderTotal': 2,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D2'},
  {'id': 18,
   'year': 1917,
   'month': 4,
   'day': 1,
   'volcanoLocationId': 40105,
   'volcanoLocationNewNum': 241050,
   'volcanoLocationNum': '0401-05=',
   'name': 'Okataina',
   'location': 'New Zealand',
   'country': 'New Zealand',
   'latitude': -38.157,
   'longitude': 176.507,
   'elevation': 1111,
   'morphology': 'Lava dome',
   'vei': 1,
   'agent': 'T',
   'deaths': 2,
   'deathsAmountOrder': 1,
   'injuries': 3,
   'injuriesAmountOrder': 1,
   'deathsTotal': 2,
   'deathsAmountOrderTotal': 1,
   'injuriesTotal': 3,
   'injuriesAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 19,
   'year': 1899,
   'volcanoLocationId': 50102,
   'volcanoLocationNewNum': 251020,
   'volcanoLocationNum': '0501-02=',
   'name': 'Manam',
   'location': 'New Guinea-NE of',
   'country': 'Papua New Guinea',
   'latitude': -4.08,
   'longitude': 145.037,
   'elevation': 1807,
   'morphology': 'Stratovolcano',
   'vei': 2,
   'deaths': 2,
   'deathsAmountOrder': 1,
   'deathsTotal': 2,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 20,
   'year': 1979,
   'month': 3,
   'day': 8,
   'volcanoLocationId': 50103,
   'volcanoLocationNewNum': 251030,
   'volcanoLocationNum': '0501-03=',
   'name': 'Karkar',
   'location': 'New Guinea-NE of',
   'country': 'Papua New Guinea',
   'latitude': -4.647,
   'longitude': 145.976,
   'elevation': 1839,
   'morphology': 'Stratovolcano',
   'vei': 2,
   'agent': 'P',
   'deaths': 2,
   'deathsAmountOrder': 1,
   'deathsTotal': 2,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 21,
   'year': 1970,
   'month': 3,
   'day': 2,
   'volcanoLocationId': 10101,
   'volcanoLocationNewNum': 211010,
   'volcanoLocationNum': '0101-01=',
   'name': 'Campi Flegrei',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 40.827,
   'longitude': 14.139,
   'elevation': 458,
   'morphology': 'Caldera',
   'agent': 'S',
   'deaths': 3,
   'deathsAmountOrder': 1,
   'damageAmountOrder': 1,
   'housesDestroyedAmountOrder': 1,
   'deathsTotal': 3,
   'deathsAmountOrderTotal': 1,
   'damageAmountOrderTotal': 1,
   'housesDestroyedAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': False,
   'status': 'Historical',
   'timeErupt': 'D5'},
  {'id': 22,
   'year': 1972,
   'month': 8,
   'volcanoLocationId': 30302,
   'volcanoLocationNewNum': 233020,
   'volcanoLocationNum': '0303-02=',
   'name': 'Fournaise, Piton de la',
   'location': 'Indian O-W',
   'country': 'Reunion',
   'latitude': -21.244,
   'longitude': 55.708,
   'elevation': 2632,
   'morphology': 'Shield volcano',
   'vei': 2,
   'agent': 'I',
   'deaths': 3,
   'deathsAmountOrder': 1,
   'deathsTotal': 3,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 23,
   'year': 1682,
   'month': 8,
   'day': 12,
   'volcanoLocationId': 10102,
   'volcanoLocationNewNum': 211020,
   'volcanoLocationNum': '0101-02=',
   'name': 'Vesuvius',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 40.821,
   'longitude': 14.426,
   'elevation': 1281,
   'morphology': 'Complex volcano',
   'vei': 3,
   'deaths': 4,
   'deathsAmountOrder': 1,
   'deathsTotal': 4,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D2'},
  {'id': 24,
   'year': 1805,
   'month': 8,
   'day': 11,
   'volcanoLocationId': 10102,
   'volcanoLocationNewNum': 211020,
   'volcanoLocationNum': '0101-02=',
   'name': 'Vesuvius',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 40.821,
   'longitude': 14.426,
   'elevation': 1281,
   'morphology': 'Complex volcano',
   'vei': 2,
   'deaths': 4,
   'deathsAmountOrder': 1,
   'deathsTotal': 4,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D2'},
  {'id': 25,
   'year': 1919,
   'month': 5,
   'day': 22,
   'tsunamiEventId': 1476,
   'volcanoLocationId': 10104,
   'volcanoLocationNewNum': 211040,
   'volcanoLocationNum': '0101-04=',
   'name': 'Stromboli',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 38.789,
   'longitude': 15.213,
   'elevation': 924,
   'morphology': 'Stratovolcano',
   'vei': 3,
   'agent': 'T',
   'deaths': 4,
   'deathsAmountOrder': 1,
   'injuriesAmountOrder': 3,
   'damageAmountOrder': 1,
   'housesDestroyed': 10,
   'housesDestroyedAmountOrder': 1,
   'deathsTotal': 4,
   'deathsAmountOrderTotal': 1,
   'injuriesAmountOrderTotal': 3,
   'damageAmountOrderTotal': 1,
   'housesDestroyedTotal': 10,
   'housesDestroyedAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 26,
   'year': 1930,
   'month': 9,
   'day': 11,
   'tsunamiEventId': 4218,
   'volcanoLocationId': 10104,
   'volcanoLocationNewNum': 211040,
   'volcanoLocationNum': '0101-04=',
   'name': 'Stromboli',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 38.789,
   'longitude': 15.213,
   'elevation': 924,
   'morphology': 'Stratovolcano',
   'vei': 3,
   'agent': 'P,W,T',
   'deaths': 5,
   'deathsAmountOrder': 1,
   'injuries': 20,
   'injuriesAmountOrder': 1,
   'damageAmountOrder': 2,
   'deathsTotal': 6,
   'deathsAmountOrderTotal': 1,
   'injuriesTotal': 20,
   'injuriesAmountOrderTotal': 1,
   'damageAmountOrderTotal': 2,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 27,
   'year': 1903,
   'month': 8,
   'day': 30,
   'volcanoLocationId': 40105,
   'volcanoLocationNewNum': 241050,
   'volcanoLocationNum': '0401-05=',
   'name': 'Okataina',
   'location': 'New Zealand',
   'country': 'New Zealand',
   'latitude': -38.157,
   'longitude': 176.507,
   'elevation': 1111,
   'morphology': 'Lava dome',
   'vei': 1,
   'agent': 'T',
   'deaths': 4,
   'deathsAmountOrder': 1,
   'deathsTotal': 4,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 28,
   'year': 1928,
   'month': 11,
   'day': 8,
   'volcanoLocationId': 10106,
   'volcanoLocationNewNum': 211060,
   'volcanoLocationNum': '0101-06=',
   'name': 'Etna',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 37.748,
   'longitude': 14.999,
   'elevation': 3357,
   'morphology': 'Stratovolcano',
   'vei': 1,
   'agent': 'L',
   'deaths': 5,
   'deathsAmountOrder': 1,
   'deathsTotal': 5,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 29,
   'year': 1872,
   'month': 4,
   'day': 24,
   'volcanoLocationId': 10102,
   'volcanoLocationNewNum': 211020,
   'volcanoLocationNum': '0101-02=',
   'name': 'Vesuvius',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 40.821,
   'longitude': 14.426,
   'elevation': 1281,
   'morphology': 'Complex volcano',
   'vei': 3,
   'agent': 'L,G',
   'deaths': 9,
   'deathsAmountOrder': 1,
   'injuries': 11,
   'injuriesAmountOrder': 1,
   'deathsTotal': 9,
   'deathsAmountOrderTotal': 1,
   'injuriesTotal': 11,
   'injuriesAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D2'},
  {'id': 30,
   'year': 1979,
   'month': 9,
   'day': 12,
   'volcanoLocationId': 10106,
   'volcanoLocationNewNum': 211060,
   'volcanoLocationNum': '0101-06=',
   'name': 'Etna',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 37.748,
   'longitude': 14.999,
   'elevation': 3357,
   'morphology': 'Stratovolcano',
   'vei': 3,
   'agent': 'T',
   'deaths': 9,
   'deathsAmountOrder': 1,
   'injuries': 23,
   'injuriesAmountOrder': 1,
   'deathsTotal': 9,
   'deathsAmountOrderTotal': 1,
   'injuriesTotal': 23,
   'injuriesAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 31,
   'year': 1987,
   'month': 4,
   'day': 17,
   'volcanoLocationId': 10106,
   'volcanoLocationNewNum': 211060,
   'volcanoLocationNum': '0101-06=',
   'name': 'Etna',
   'location': 'Italy',
   'country': 'Italy',
   'latitude': 37.748,
   'longitude': 14.999,
   'elevation': 3357,
   'morphology': 'Stratovolcano',
   'vei': 2,
   'agent': 'T',
   'deaths': 2,
   'deathsAmountOrder': 1,
   'injuries': 7,
   'injuriesAmountOrder': 1,
   'deathsTotal': 2,
   'deathsAmountOrderTotal': 1,
   'injuriesTotal': 7,
   'injuriesAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': True,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 32,
   'year': 1914,
   'month': 9,
   'day': 10,
   'volcanoLocationId': 40104,
   'volcanoLocationNewNum': 241040,
   'volcanoLocationNum': '0401-04=',
   'name': 'Whakaari/White Island',
   'location': 'New Zealand',
   'country': 'New Zealand',
   'latitude': -37.52,
   'longitude': 177.18,
   'elevation': 294,
   'morphology': 'Stratovolcano',
   'agent': 'A',
   'deaths': 11,
   'deathsAmountOrder': 1,
   'deathsTotal': 11,
   'deathsAmountOrderTotal': 1,
   'significant': True,
   'publish': False,
   'eruption': False,
   'status': 'Historical',
   'timeErupt': 'D1'},
  {'id': 33,
   'year': 1886,
   'month': 8,
   'day': 31,
   'volcanoLocationId': 40311,
   'volcanoLocationNewNum': 243110,
   'volcanoLocationNum': '0403-11=',
   'name': "Niuafo'ou",
   'location': 'Tonga-SW Pacific',
   'country': 'Tonga',
   'latitude': -15.6,
   'longitude': -175.63,
   'elevation': 260,
   'morphology': 'Shield volcano',
   'vei': 4,

#### **TASK 1.0: Cute Webscraping (5 points)**
To make our cute webscraper we need to **create a GET request** using the relevant information given above.

This particular dataset NOAA returns data from the API as ***json*** when a user makes a request. The json data has a particular format, so we will extract our needed information only from the field called **items** to make a dataframe.

**After properly scraping the data, name this dataframe** ***df***

**Save this dataframe into a CSV file named 'volcanoes.csv'**

**You won't need to run this more than once**

In [226]:
df = pd.DataFrame(data.json()["items"])
df.to_csv("volcanoes.csv")

#### **TASK 1.1: 1 Liner Thingz (3 points)**

We need to get an idea of what this dataset is going to look. In order to do that, let's take a look at some of the most [basic things](https://dataanalytics.buffalostate.edu/pandas-cheat-sheet) our dataframe has.

**Read the directions carefully and code your answer with only one line of code.**

***CAN'T USE LOOPS. DO NOT DISPLAY THE DATAFRAME, JUST YOUR CODE OUTPUT HERE.***

**1.1.1:** In one line of code and **using only one single method call**, output the **summary statistics** (count, mean, std, min, max, quartiles) of all numerical features in the dataframe.

*Hint: Look for a method that gives a descriptive overview of numerical columns.*

In [227]:
df.describe()

,id,year,month,day,tsunamiEventId,earthquakeEventId,volcanoLocationId,volcanoLocationNewNum,latitude,longitude,elevation,deathsTotal,deathsAmountOrderTotal,damageAmountOrderTotal,vei,deathsAmountOrder,damageAmountOrder,housesDestroyedAmountOrderTotal,deaths,injuries,injuriesAmountOrder,injuriesTotal,injuriesAmountOrderTotal,housesDestroyedAmountOrder,housesDestroyed,housesDestroyedTotal,missingAmountOrder,missingAmountOrderTotal,missing,missingTotal,damageMillionsDollars,damageMillionsDollarsTotal
count,200.000000,200.000000,177.000000,155.000000,37.000000,17.000000,200.000000,200.000000,200.000000,200.000000,200.000000,128.000000,180.000000,59.000000,192.000000,169.000000,51.000000,52.000000,118.000000,30.000000,39.000000,33.000000,41.000000,42.000000,13.000000,16.000000,3.0,3.0,1.0,1.0,1.00,1.0
mean,375.635000,1809.800000,6.293785,15.825806,1818.648649,3632.117647,57207.110000,258519.715000,5.852440,103.641705,1835.110000,1028.007812,1.677778,2.084746,2.692708,1.609467,1.823529,2.403846,429.483051,90.400000,1.589744,113.060606,1.682927,2.309524,1102.000000,1326.312500,2.0,2.0,78.0,78.0,0.04,19.0
std,306.114755,248.034282,3.469611,9.185073,1742.563313,3015.859162,24461.022227,20706.407256,18.170994,48.350940,1032.617325,5692.045543,1.039207,0.952096,0.956843,0.994703,0.931791,0.995275,1513.433735,210.136507,0.849704,227.506310,0.878608,1.047368,2451.426863,2568.800543,1.0,1.0,NaN,NaN,NaN,NaN
min,1.000000,-141.000000,1.000000,1.000000,61.000000,421.000000,10101.000000,211010.000000,-38.157000,-175.630000,-5.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000,10.000000,1.0,1.0,78.0,78.0,0.04,19.0
25%,78.500000,1774.500000,3.000000,8.000000,613.000000,1328.000000,60325.000000,263250.000000,-7.935000,111.847000,1117.000000,3.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.750000,3.000000,5.250000,1.000000,6.000000,1.000000,1.000000,50.000000,68.750000,1.5,1.5,78.0,78.0,0.04,19.0
50%,348.000000,1880.500000,7.000000,15.000000,1181.000000,2179.000000,60403.000000,264015.000000,0.320000,121.299500,1714.000000,18.000000,1.000000,2.000000,3.000000,1.000000,2.000000,3.000000,13.500000,21.500000,1.000000,26.000000,1.000000,2.500000,144.000000,215.500000,2.0,2.0,78.0,78.0,0.04,19.0
75%,664.250000,1950.000000,9.000000,24.000000,1977.000000,6195.000000,60807.000000,268070.000000,14.011000,127.332000,2805.000000,104.250000,2.000000,3.000000,3.000000,2.000000,3.000000,3.000000,78.500000,54.500000,2.000000,86.000000,2.000000,3.000000,800.000000,877.250000,2.5,2.5,78.0,78.0,0.04,19.0
max,994.000000,1996.000000,12.000000,31.000000,5863.000000,10519.000000,201141.000000,282110.000000,40.827000,177.180000,3657.000000,60000.000000,4.000000,4.000000,7.000000,4.000000,4.000000,4.000000,11000.000000,1000.000000,4.000000,1000.000000,4.000000,4.000000,9000.000000,9000.000000,3.0,3.0,78.0,78.0,0.04,19.0

**1.1.2:** In one line of code and **using only one single method call**, print the **summary information** of the dataframe, including index dtype, column names, non-null counts, and memory usage.

In [228]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 43 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               200 non-null    int64
 1   year                             200 non-null    int64
 2   month                            177 non-null    float64
 3   day                              155 non-null    float64
 4   tsunamiEventId                   37 non-null     float64
 5   earthquakeEventId                17 non-null     float64
 6   volcanoLocationId                200 non-null    int64
 7   volcanoLocationNewNum            200 non-null    int64
 8   volcanoLocationNum               200 non-null    object
 9   name                             200 non-null    object
 10  location                         200 non-null    object
 11  country                          200 non-null    object
 12  latitude                         200 non-null    float64
 13  longitude                        200 non-null    float64
 14  elevation                        200 non-null    int64
 15  morphology                       200 non-null    object
 16  agent                            128 non-null    object
 17  deathsTotal                      128 non-null    float64
 18  deathsAmountOrderTotal           180 non-null    float64
 19  damageAmountOrderTotal           59 non-null     float64
 20  significant                      200 non-null    bool
 21  publish                          200 non-null    bool
 22  eruption                         200 non-null    bool
 23  status                           200 non-null    object
 24  timeErupt                        200 non-null    object
 25  vei                              192 non-null    float64
 26  deathsAmountOrder                169 non-null    float64
 27  damageAmountOrder                51 non-null     float64
 28  housesDestroyedAmountOrderTotal  52 non-null     float64
 29  deaths                           118 non-null    float64
 30  injuries                         30 non-null     float64
 31  injuriesAmountOrder              39 non-null     float64
 32  injuriesTotal                    33 non-null     float64
 33  injuriesAmountOrderTotal         41 non-null     float64
 34  housesDestroyedAmountOrder       42 non-null     float64
 35  housesDestroyed                  13 non-null     float64
 36  housesDestroyedTotal             16 non-null     float64
 37  missingAmountOrder               3 non-null      float64
 38  missingAmountOrderTotal          3 non-null      float64
 39  missing                          1 non-null      float64
 40  missingTotal                     1 non-null      float64
 41  damageMillionsDollars            1 non-null      float64
 42  damageMillionsDollarsTotal       1 non-null      float64
dtypes: bool(3), float64(27), int64(5), object(8)
memory usage: 63.2+ KB

We won't be using some of the data because there is a lot of missing data.

**1.1.3:** *In one line of code, create a **new dataframe** called **new_df** that **discards** all the features of the **old** dataframe **except for the following**:*

`id,	year, month, day,	tsunamiEventId, earthquakeEventId, volcanoLocationId, volcanoLocationNewNum, name, country, elevation, morphology, deathsTotal, vei, deaths`

*Hint: Don't use any drop function*

In [229]:
new_df = df[["id", "year", "month", "day",	"tsunamiEventId", "earthquakeEventId", "volcanoLocationId", "volcanoLocationNewNum", "name", "country", "elevation", "morphology", "deathsTotal", "vei", "deaths"]].copy()

#### **TASK 1.2: 1 Liner Shenaniganz (7 points)**

We're going to tidy up the **new dataframe** a little more with some more advanced 1 liner code.

**Read the directions carefully and code your answer with only one line of code.**

**For this section, keep the method of display that is already in the box. Write your code as indicated.**

***YOU CAN'T USE ONE LINE LOOPS OR ANY KIND OF LOOP.***

**1.2.1:** *In one line of code, **drop any row** that contains **NaN** in **any one** of the columns indicating a measure of **time**.*

In [230]:
new_df = new_df.dropna(subset=["year", "day", "month"])
new_df

,id,year,month,day,tsunamiEventId,earthquakeEventId,volcanoLocationId,volcanoLocationNewNum,name,country,elevation,morphology,deathsTotal,vei,deaths
0,1,1169,2.0,4.0,2852.0,421.0,10106,211060,Etna,Italy,3357,Stratovolcano,16000.0,NaN,NaN
1,2,1329,7.0,15.0,NaN,NaN,10106,211060,Etna,Italy,3357,Stratovolcano,NaN,3.0,NaN
3,4,1888,3.0,13.0,1175.0,NaN,50107,251070,Ritter Island,Papua New Guinea,75,Stratovolcano,NaN,2.0,NaN
5,6,1832,11.0,1.0,NaN,NaN,10106,211060,Etna,Italy,3357,Stratovolcano,NaN,2.0,NaN
6,7,1977,1.0,10.0,NaN,NaN,20303,223030,Nyiragongo,"Congo, DRC",3470,Stratovolcano,NaN,1.0,NaN
8,9,1779,8.0,8.0,NaN,NaN,10102,211020,Vesuvius,Italy,1281,Complex volcano,NaN,3.0,NaN
10,11,1907,8.0,4.0,NaN,NaN,201112,221112,Alayta,Ethiopia,1496,Shield volcano,NaN,2.0,NaN
11,12,1905,3.0,10.0,NaN,NaN,10102,211020,Vesuvius,Italy,1281,Complex volcano,1.0,2.0,1.0
12,13,1986,7.0,24.0,NaN,NaN,10104,211040,Stromboli,Italy,924,Stratovolcano,1.0,2.0,1.0
13,14,1536,3.0,26.0,NaN,NaN,10106,211060,Etna,Italy,3357,Stratovolcano,1.0,3.0,1.0
14,15,1904,2.0,25.0,NaN,NaN,30301,233010,Karthala,Comoros,2361,Shield volcano,1.0,2.0,1.0
15,16,1878,2.0,4.0,1095.0,6195.0,50214,252140,Rabaul,Papua New Guinea,688,Pyroclastic shield,1.0,3.0,1.0
16,17,1737,5.0,20.0,NaN,NaN,10102,211020,Vesuvius,Italy,1281,Complex volcano,2.0,3.0,2.0
17,18,1917,4.0,1.0,NaN,NaN,40105,241050,Okataina,New Zealand,1111,Lava dome,2.0,1.0,2.0
19,20,1979,3.0,8.0,NaN,NaN,50103,251030,Karkar,Papua New Guinea,1839,Stratovolcano,2.0,2.0,2.0
20,21,1970,3.0,2.0,NaN,NaN,10101,211010,Campi Flegrei,Italy,458,Caldera,3.0,NaN,3.0
22,23,1682,8.0,12.0,NaN,NaN,10102,211020,Vesuvius,Italy,1281,Complex volcano,4.0,3.0,4.0
23,24,1805,8.0,11.0,NaN,NaN,10102,211020,Vesuvius,Italy,1281,Complex volcano,4.0,2.0,4.0
24,25,1919,5.0,22.0,1476.0,NaN,10104,211040,Stromboli,Italy,924,Stratovolcano,4.0,3.0,4.0
25,26,1930,9.0,11.0,4218.0,NaN,10104,211040,Stromboli,Italy,924,Stratovolcano,6.0,3.0,5.0
26,27,1903,8.0,30.0,NaN,NaN,40105,241050,Okataina,New Zealand,1111,Lava dome,4.0,1.0,4.0
27,28,1928,11.0,8.0,NaN,NaN,10106,211060,Etna,Italy,3357,Stratovolcano,5.0,1.0,5.0
28,29,1872,4.0,24.0,NaN,NaN,10102,211020,Vesuvius,Italy,1281,Complex volcano,9.0,3.0,9.0
29,30,1979,9.0,12.0,NaN,NaN,10106,211060,Etna,Italy,3357,Stratovolcano,9.0,3.0,9.0
30,31,1987,4.0,17.0,NaN,NaN,10106,211060,Etna,Italy,3357,Stratovolcano,2.0,2.0,2.0
31,32,1914,9.0,10.0,NaN,NaN,40104,241040,Whakaari/White Island,New Zealand,294,Stratovolcano,11.0,NaN,11.0
32,33,1886,8.0,31.0,NaN,NaN,40311,243110,Niuafo'ou,Tonga,260,Shield volcano,NaN,4.0,NaN
33,34,1912,12.0,3.0,NaN,NaN,20302,223020,Nyamulagira,"Congo, DRC",3058,Shield volcano,20.0,3.0,20.0
34,35,1895,6.0,17.0,NaN,NaN,50103,251030,Karkar,Papua New Guinea,1839,Stratovolcano,21.0,2.0,1.0
35,36,1538,9.0,29.0,NaN,NaN,10101,211010,Campi Flegrei,Italy,458,Caldera,24.0,3.0,24.0
36,37,1853,6.0,24.0,NaN,NaN,40311,243110,Niuafo'ou,Tonga,260,Shield volcano,25.0,0.0,25.0
37,38,1954,8.0,3.0,NaN,NaN,50101,251010,Bam,Papua New Guinea,685,Stratovolcano,25.0,2.0,NaN
38,39,1944,3.0,27.0,NaN,NaN,10102,211020,Vesuvius,Italy,1281,Complex volcano,27.0,3.0,27.0
39,40,1984,8.0,15.0,5807.0,NaN,20403,224030,Oku Volcanic Field,Cameroon,3011,Maar,37.0,NaN,37.0
41,42,1926,1.0,23.0,NaN,NaN,10204,212040,Santorini,Greece,367,Shield volcano,48.0,2.0,48.0
42,43,1631,2.0,14.0,NaN,920.0,201141,221141,Dama Ali,Ethiopia,1068,Shield volcano,50.0,NaN,50.0
43,44,1843,11.0,25.0,NaN,NaN,10106,211060,Etna,Italy,3357,Stratovolcano,59.0,2.0,59.0
44,45,1944,12.0,4.0,NaN,NaN,60320,263200,Dieng Volcanic Complex,Indonesia,2565,Complex volcano,117.0,2.0,117.0
45,49,1979,2.0,20.0,NaN,NaN,60320,263200,Dieng Volcanic Complex,Indonesia,2565,Complex volcano,149.0,1.0,149.0
47,64,1672,8.0,4.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,3000.0,3.0,3000.0
48,69,1822,12.0,27.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,100.0,3.0,100.0
49,71,1832,12.0,25.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,32.0,2.0,32.0
50,81,1872,4.0,15.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,30.0,4.0,30.0
51,82,1872,11.0,3.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,200.0,4.0,200.0
53,92,1920,7.0,25.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,35.0,2.0,35.0
54,94,1930,12.0,18.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,1369.0,3.0,1369.0
55,100,1954,1.0,18.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,64.0,2.0,64.0
56,104,1961,5.0,8.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,6.0,3.0,6.0
57,105,1969,1.0,7.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,3.0,2.0,3.0
58,111,1986,12.0,31.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,1.0,2.0,1.0
59,112,1994,11.0,22.0,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,66.0,3.0,66.0
65,128,1716,7.0,20.0,NaN,NaN,60328,263280,Kelud,Indonesia,1730,Stratovolcano,NaN,2.0,NaN
66,132,1826,10.0,13.0,NaN,NaN,60328,263280,Kelud,Indonesia,1730,Stratovolcano,NaN,4.0,NaN
67,133,1848,5.0,16.0,NaN,NaN,60328,263280,Kelud,Indonesia,1730,Stratovolcano,22.0,3.0,22.0
68,135,1864,1.0,4.0,NaN,NaN,60328,263280,Kelud,Indonesia,1730,Stratovolcano,54.0,2.0,54.0
69,136,1875,1.0,29.0,NaN,NaN,60328,263280,Kelud,Indonesia,1730,Stratovolcano,NaN,NaN,NaN
70,137,1901,5.0,22.0,NaN,NaN,60328,263280,Kelud,Indonesia,1730,Stratovolcano,NaN,3.0,NaN
71,138,1919,5.0,19.0,NaN,NaN,60328,263280,Kelud,Indonesia,1730,Stratovolcano,5110.0,4.0,5110.0
72,140,1951,8.0,31.0,NaN,NaN,60328,263280,Kelud,Indonesia,1730,Stratovolcano,7.0,4.0,7.0
73,141,1966,4.0,26.0,NaN,NaN,60328,263280,Kelud,Indonesia,1730,Stratovolcano,215.0,4.0,215.0
74,144,1990,2.0,10.0,NaN,NaN,60328,263280,Kelud,Indonesia,1730,Stratovolcano,35.0,4.0,35.0
76,167,1885,4.0,18.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,74.0,2.0,74.0
77,176,1895,5.0,22.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,80.0,2.0,80.0
78,191,1909,8.0,29.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,221.0,2.0,221.0
79,193,1911,11.0,8.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,NaN,3.0,NaN
80,195,1913,6.0,23.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,NaN,2.0,NaN
81,196,1941,9.0,21.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,NaN,2.0,NaN
83,199,1946,10.0,29.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,NaN,2.0,NaN
84,200,1950,8.0,28.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,6.0,1.0,6.0
85,201,1963,5.0,5.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,1.0,2.0,1.0
86,202,1967,8.0,31.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,3.0,3.0,3.0
87,203,1985,5.0,10.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,70.0,3.0,70.0
88,204,1978,9.0,19.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,12.0,3.0,12.0
89,205,1976,8.0,31.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,119.0,2.0,119.0
90,206,1981,3.0,29.0,NaN,NaN,60330,263300,Semeru,Indonesia,3657,Stratovolcano,1.0,3.0,1.0
98,333,1817,1.0,24.0,NaN,NaN,60335,263350,Ijen,Indonesia,2769,Stratovolcano,NaN,2.0,NaN
99,345,1963,9.0,5.0,NaN,NaN,60401,264010,Batur,Indonesia,1711,Caldera,2.0,2.0,2.0
100,351,1963,3.0,18.0,1942.0,NaN,60402,264020,Agung,Indonesia,2997,Stratovolcano,1028.0,5.0,1028.0
101,353,1963,5.0,16.0,NaN,4292.0,60402,264020,Agung,Indonesia,2997,Stratovolcano,120.0,3.0,120.0
102,367,1815,4.0,10.0,613.0,NaN,60404,264040,Tambora,Indonesia,2850,Stratovolcano,60000.0,7.0,11000.0
103,389,1969,1.0,28.0,NaN,NaN,60411,264110,Iya,Indonesia,618,Stratovolcano,2.0,3.0,2.0
104,394,1928,8.0,4.0,1607.0,NaN,60415,264150,Paluweh,Indonesia,875,Stratovolcano,226.0,3.0,98.0
105,395,1964,1.0,1.0,NaN,NaN,60415,264150,Paluweh,Indonesia,875,Stratovolcano,1.0,2.0,1.0
107,398,1981,9.0,5.0,NaN,NaN,60415,264150,Paluweh,Indonesia,875,Stratovolcano,NaN,2.0,NaN
108,410,1869,7.0,7.0,NaN,NaN,60418,264180,Lewotobi,Indonesia,1703,Stratovolcano,2.0,2.0,2.0
109,411,1907,9.0,28.0,NaN,NaN,60418,264180,Lewotobi,Indonesia,1703,Stratovolcano,1.0,2.0,1.0
111,441,1948,4.0,7.0,NaN,NaN,60425,264250,Iliwerung,Indonesia,583,Complex volcano,NaN,2.0,NaN
113,447,1983,8.0,17.0,4702.0,NaN,60425,264250,Iliwerung,Indonesia,583,Complex volcano,NaN,1.0,NaN
115,457,1659,11.0,11.0,285.0,NaN,60505,265050,Teon,Pacific Ocean,728,Stratovolcano,NaN,4.0,NaN
117,466,1692,6.0,4.0,NaN,NaN,60507,265070,Serua,Pacific Ocean,608,Stratovolcano,NaN,4.0,NaN
120,477,1694,11.0,20.0,NaN,NaN,60509,265090,Banda Api,Pacific Ocean,596,Caldera,NaN,3.0,NaN
121,482,1820,6.0,11.0,NaN,NaN,60509,265090,Banda Api,Pacific Ocean,596,Caldera,NaN,2.0,NaN
122,486,1988,5.0,9.0,NaN,NaN,60509,265090,Banda Api,Pacific Ocean,596,Caldera,4.0,3.0,4.0
123,488,1983,7.0,23.0,NaN,NaN,60601,266010,Colo,Indonesia,404,Stratovolcano,NaN,4.0,NaN
124,489,1845,2.0,8.0,741.0,1865.0,60603,266030,Soputan,Indonesia,1785,Stratovolcano,118.0,2.0,NaN
125,525,1958,7.0,12.0,NaN,NaN,60611,266110,Mahawu,Indonesia,1299,Stratovolcano,1.0,2.0,1.0
127,533,1871,3.0,3.0,1022.0,NaN,60701,267010,Ruang,Indonesia,725,Stratovolcano,400.0,2.0,NaN
128,552,1940,6.0,20.0,NaN,NaN,60702,267020,Karangetang,Indonesia,1797,Stratovolcano,1.0,2.0,1.0
129,561,1974,2.0,11.0,NaN,NaN,60702,267020,Karangetang,Indonesia,1797,Stratovolcano,4.0,3.0,4.0
130,562,1976,9.0,15.0,NaN,NaN,60702,267020,Karangetang,Indonesia,1797,Stratovolcano,1.0,2.0,1.0
131,569,1889,9.0,6.0,1181.0,6309.0,60703,267030,Banua Wuhu,Indonesia,-5,Submarine volcano,NaN,2.0,NaN
132,578,1711,12.0,11.0,NaN,NaN,60704,267040,Awu,Indonesia,1318,Stratovolcano,3000.0,3.0,3000.0
133,580,1812,8.0,6.0,NaN,NaN,60704,267040,Awu,Indonesia,1318,Stratovolcano,953.0,3.0,953.0
134,581,1856,3.0,2.0,859.0,1995.0,60704,267040,Awu,Indonesia,1318,Stratovolcano,2806.0,3.0,2806.0
135,584,1892,6.0,7.0,1197.0,NaN,60704,267040,Awu,Indonesia,1318,Stratovolcano,1532.0,3.0,1532.0
136,585,1913,3.0,14.0,1407.0,2973.0,60704,267040,Awu,Indonesia,1318,Stratovolcano,138.0,2.0,NaN
137,589,1966,8.0,12.0,NaN,NaN,60704,267040,Awu,Indonesia,1318,Stratovolcano,39.0,4.0,39.0
139,599,1673,5.0,20.0,312.0,NaN,60804,268040,Gamkonora,Indonesia,1635,Stratovolcano,NaN,5.0,NaN
140,607,1608,7.0,18.0,222.0,NaN,60806,268060,Gamalama,Indonesia,1714,Stratovolcano,NaN,3.0,NaN
141,617,1772,5.0,9.0,504.0,NaN,60806,268060,Gamalama,Indonesia,1714,Stratovolcano,35.0,3.0,35.0
142,618,1773,2.0,2.0,NaN,NaN,60806,268060,Gamalama,Indonesia,1714,Stratovolcano,NaN,2.0,NaN
144,627,1838,2.0,26.0,NaN,NaN,60806,268060,Gamalama,Indonesia,1714,Stratovolcano,4.0,2.0,4.0
145,629,1840,2.0,2.0,718.0,NaN,60806,268060,Gamalama,Indonesia,1714,Stratovolcano,NaN,3.0,NaN
146,643,1871,8.0,7.0,NaN,NaN,60806,268060,Gamalama,Indonesia,1714,Stratovolcano,1.0,2.0,1.0
147,657,1962,12.0,31.0,NaN,NaN,60806,268060,Gamalama,Indonesia,1714,Stratovolcano,5.0,2.0,5.0
149,664,1646,7.0,19.0,5754.0,10519.0,60807,268070,Kie Besi,Indonesia,1357,Stratovolcano,NaN,4.0,NaN
151,666,1861,12.0,29.0,NaN,NaN,60807,268070,Kie Besi,Indonesia,1357,Stratovolcano,326.0,4.0,326.0
152,669,1890,6.0,29.0,NaN,NaN,60807,268070,Kie Besi,Indonesia,1357,Stratovolcano,NaN,2.0,NaN
153,677,1873,1.0,16.0,NaN,NaN,70106,271060,Ragang,Philippines,2790,Stratovolcano,NaN,2.0,NaN
154,679,1871,4.0,30.0,1020.0,2179.0,70108,271080,Camiguin,Philippines,1552,Stratovolcano,NaN,2.0,NaN
155,680,1950,9.0,15.0,NaN,NaN,70108,271080,Camiguin,Philippines,1552,Stratovolcano,68.0,3.0,68.0
156,693,1996,8.0,10.0,NaN,NaN,70202,272020,Kanlaon,Philippines,2422,Stratovolcano,3.0,2.0,3.0
157,697,1933,12.0,25.0,1666.0,NaN,70301,273010,Bulusan,Philippines,1535,Stratovolcano,9.0,2.0,NaN
158,698,1978,7.0,29.0,NaN,NaN,70301,273010,Bulusan,Philippines,1535,Stratovolcano,NaN,2.0,NaN
159,704,1766,7.0,20.0,NaN,NaN,70303,273030,Mayon,Philippines,2462,Stratovolcano,49.0,3.0,49.0
160,706,1800,10.0,30.0,NaN,NaN,70303,273030,Mayon,Philippines,2462,Stratovolcano,NaN,2.0,NaN
161,707,1814,2.0,1.0,NaN,NaN,70303,273030,Mayon,Philippines,2462,Stratovolcano,1200.0,4.0,1200.0
162,712,1853,7.0,13.0,NaN,NaN,70303,273030,Mayon,Philippines,2462,Stratovolcano,34.0,3.0,34.0
164,716,1871,12.0,8.0,NaN,NaN,70303,273030,Mayon,Philippines,2462,Stratovolcano,3.0,3.0,3.0
165,724,1887,3.0,9.0,NaN,NaN,70303,273030,Mayon,Philippines,2462,Stratovolcano,15.0,3.0,15.0
166,730,1897,5.0,23.0,NaN,NaN,70303,273030,Mayon,Philippines,2462,Stratovolcano,350.0,3.0,350.0
168,733,1938,6.0,5.0,NaN,NaN,70303,273030,Mayon,Philippines,2462,Stratovolcano,NaN,2.0,NaN
169,735,1947,1.0,7.0,NaN,NaN,70303,273030,Mayon,Philippines,2462,Stratovolcano,NaN,2.0,NaN
170,736,1968,4.0,21.0,NaN,NaN,70303,273030,Mayon,Philippines,2462,Stratovolcano,6.0,3.0,6.0
171,739,1984,9.0,9.0,NaN,NaN,70303,273030,Mayon,Philippines,2462,Stratovolcano,1.0,3.0,1.0
173,752,1716,9.0,24.0,387.0,1205.0,70307,273070,Taal,Philippines,311,Stratovolcano,NaN,4.0,NaN
174,753,1749,8.0,11.0,431.0,1304.0,70307,273070,Taal,Philippines,311,Stratovolcano,NaN,3.0,NaN
175,754,1754,11.0,28.0,2853.0,1328.0,70307,273070,Taal,Philippines,311,Stratovolcano,12.0,4.0,NaN
176,756,1874,7.0,19.0,NaN,NaN,70307,273070,Taal,Philippines,311,Stratovolcano,NaN,2.0,NaN
177,761,1911,1.0,30.0,1392.0,8391.0,70307,273070,Taal,Philippines,311,Stratovolcano,1335.0,3.0,1335.0
178,762,1965,9.0,28.0,1977.0,NaN,70307,273070,Taal,Philippines,311,Stratovolcano,355.0,4.0,355.0
179,777,1969,3.0,21.0,2872.0,NaN,70402,274020,Didicas,Philippines,228,Compound volcano,3.0,2.0,NaN
180,787,1853,10.0,29.0,809.0,NaN,80103,281030,Unnamed,Taiwan,0,Submarine volcano,NaN,2.0,NaN
182,823,1933,12.0,24.0,NaN,NaN,80205,282050,Kuchinoerabujima,Japan,657,Stratovolcano,8.0,4.0,8.0
184,844,766,7.0,20.0,61.0,7341.0,80208,282080,Aira,Japan,1117,Stratovolcano,NaN,3.0,NaN
185,846,1471,11.0,3.0,NaN,NaN,80208,282080,Aira,Japan,1117,Stratovolcano,NaN,5.0,NaN
186,858,1779,11.0,8.0,NaN,NaN,80208,282080,Aira,Japan,1117,Stratovolcano,153.0,4.0,153.0
187,859,1781,4.0,11.0,529.0,NaN,80208,282080,Aira,Japan,1117,Stratovolcano,38.0,4.0,23.0
188,867,1914,1.0,12.0,1412.0,2994.0,80208,282080,Aira,Japan,1117,Stratovolcano,63.0,4.0,28.0
190,878,1955,10.0,13.0,NaN,NaN,80208,282080,Aira,Japan,1117,Stratovolcano,NaN,3.0,NaN
191,904,1566,10.0,31.0,NaN,NaN,80209,282090,Kirishimayama,Japan,1700,Shield volcano,NaN,3.0,NaN
192,915,1716,11.0,9.0,NaN,NaN,80209,282090,Kirishimayama,Japan,1700,Shield volcano,1.0,3.0,1.0
193,916,1717,2.0,7.0,NaN,NaN,80209,282090,Kirishimayama,Japan,1700,Shield volcano,1.0,3.0,1.0
194,932,1792,5.0,21.0,568.0,1515.0,80210,282100,Unzendake,Japan,1483,Complex volcano,15000.0,2.0,NaN
195,933,1991,6.0,3.0,NaN,NaN,80210,282100,Unzendake,Japan,1483,Complex volcano,43.0,1.0,43.0

**1.2.2:** *In one line of code, **change** the **index column** of the dataframe so that it has **1-based indexing**.*

In [231]:
new_df = new_df.reindex([i+1 for i in range(len(new_df))])

The **deathsTotal** and **deaths**  columns have approximations of the same data with alternating NaNs in each.

**1.2.3:** *In one line of code, make a **new column** called **'totalDeaths'** that takes the **max** of the values given between those* ***two*** *columns.
- If there is **NaN** in ***one column*** and a **numerical** value in the **other**, it will ***take the numerical value***.
- **Only** if there are **NaNs** in ***both columns***, the **new column will have NaN.**

In [232]:
new_df.insert(14, "totalDeaths", [max(new_df["deaths"][i+1], new_df["deathsTotal"][i+1]) for i in range(len(new_df))])
new_df

,id,year,month,day,tsunamiEventId,earthquakeEventId,volcanoLocationId,volcanoLocationNewNum,name,country,elevation,morphology,deathsTotal,vei,totalDeaths,deaths
1,2.0,1329.0,7.0,15.0,NaN,NaN,10106.0,211060.0,Etna,Italy,3357.0,Stratovolcano,NaN,3.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1888.0,3.0,13.0,1175.0,NaN,50107.0,251070.0,Ritter Island,Papua New Guinea,75.0,Stratovolcano,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6.0,1832.0,11.0,1.0,NaN,NaN,10106.0,211060.0,Etna,Italy,3357.0,Stratovolcano,NaN,2.0,NaN,NaN
6,7.0,1977.0,1.0,10.0,NaN,NaN,20303.0,223030.0,Nyiragongo,"Congo, DRC",3470.0,Stratovolcano,NaN,1.0,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,1779.0,8.0,8.0,NaN,NaN,10102.0,211020.0,Vesuvius,Italy,1281.0,Complex volcano,NaN,3.0,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11.0,1907.0,8.0,4.0,NaN,NaN,201112.0,221112.0,Alayta,Ethiopia,1496.0,Shield volcano,NaN,2.0,NaN,NaN
11,12.0,1905.0,3.0,10.0,NaN,NaN,10102.0,211020.0,Vesuvius,Italy,1281.0,Complex volcano,1.0,2.0,1.0,1.0
12,13.0,1986.0,7.0,24.0,NaN,NaN,10104.0,211040.0,Stromboli,Italy,924.0,Stratovolcano,1.0,2.0,1.0,1.0
13,14.0,1536.0,3.0,26.0,NaN,NaN,10106.0,211060.0,Etna,Italy,3357.0,Stratovolcano,1.0,3.0,1.0,1.0
14,15.0,1904.0,2.0,25.0,NaN,NaN,30301.0,233010.0,Karthala,Comoros,2361.0,Shield volcano,1.0,2.0,1.0,1.0
15,16.0,1878.0,2.0,4.0,1095.0,6195.0,50214.0,252140.0,Rabaul,Papua New Guinea,688.0,Pyroclastic shield,1.0,3.0,1.0,1.0
16,17.0,1737.0,5.0,20.0,NaN,NaN,10102.0,211020.0,Vesuvius,Italy,1281.0,Complex volcano,2.0,3.0,2.0,2.0
17,18.0,1917.0,4.0,1.0,NaN,NaN,40105.0,241050.0,Okataina,New Zealand,1111.0,Lava dome,2.0,1.0,2.0,2.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20.0,1979.0,3.0,8.0,NaN,NaN,50103.0,251030.0,Karkar,Papua New Guinea,1839.0,Stratovolcano,2.0,2.0,2.0,2.0
20,21.0,1970.0,3.0,2.0,NaN,NaN,10101.0,211010.0,Campi Flegrei,Italy,458.0,Caldera,3.0,NaN,3.0,3.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23.0,1682.0,8.0,12.0,NaN,NaN,10102.0,211020.0,Vesuvius,Italy,1281.0,Complex volcano,4.0,3.0,4.0,4.0
23,24.0,1805.0,8.0,11.0,NaN,NaN,10102.0,211020.0,Vesuvius,Italy,1281.0,Complex volcano,4.0,2.0,4.0,4.0
24,25.0,1919.0,5.0,22.0,1476.0,NaN,10104.0,211040.0,Stromboli,Italy,924.0,Stratovolcano,4.0,3.0,4.0,4.0
25,26.0,1930.0,9.0,11.0,4218.0,NaN,10104.0,211040.0,Stromboli,Italy,924.0,Stratovolcano,6.0,3.0,6.0,5.0
26,27.0,1903.0,8.0,30.0,NaN,NaN,40105.0,241050.0,Okataina,New Zealand,1111.0,Lava dome,4.0,1.0,4.0,4.0
27,28.0,1928.0,11.0,8.0,NaN,NaN,10106.0,211060.0,Etna,Italy,3357.0,Stratovolcano,5.0,1.0,5.0,5.0
28,29.0,1872.0,4.0,24.0,NaN,NaN,10102.0,211020.0,Vesuvius,Italy,1281.0,Complex volcano,9.0,3.0,9.0,9.0
29,30.0,1979.0,9.0,12.0,NaN,NaN,10106.0,211060.0,Etna,Italy,3357.0,Stratovolcano,9.0,3.0,9.0,9.0
30,31.0,1987.0,4.0,17.0,NaN,NaN,10106.0,211060.0,Etna,Italy,3357.0,Stratovolcano,2.0,2.0,2.0,2.0
31,32.0,1914.0,9.0,10.0,NaN,NaN,40104.0,241040.0,Whakaari/White Island,New Zealand,294.0,Stratovolcano,11.0,NaN,11.0,11.0
32,33.0,1886.0,8.0,31.0,NaN,NaN,40311.0,243110.0,Niuafo'ou,Tonga,260.0,Shield volcano,NaN,4.0,NaN,NaN
33,34.0,1912.0,12.0,3.0,NaN,NaN,20302.0,223020.0,Nyamulagira,"Congo, DRC",3058.0,Shield volcano,20.0,3.0,20.0,20.0
34,35.0,1895.0,6.0,17.0,NaN,NaN,50103.0,251030.0,Karkar,Papua New Guinea,1839.0,Stratovolcano,21.0,2.0,21.0,1.0
35,36.0,1538.0,9.0,29.0,NaN,NaN,10101.0,211010.0,Campi Flegrei,Italy,458.0,Caldera,24.0,3.0,24.0,24.0
36,37.0,1853.0,6.0,24.0,NaN,NaN,40311.0,243110.0,Niuafo'ou,Tonga,260.0,Shield volcano,25.0,0.0,25.0,25.0
37,38.0,1954.0,8.0,3.0,NaN,NaN,50101.0,251010.0,Bam,Papua New Guinea,685.0,Stratovolcano,25.0,2.0,NaN,NaN
38,39.0,1944.0,3.0,27.0,NaN,NaN,10102.0,211020.0,Vesuvius,Italy,1281.0,Complex volcano,27.0,3.0,27.0,27.0
39,40.0,1984.0,8.0,15.0,5807.0,NaN,20403.0,224030.0,Oku Volcanic Field,Cameroon,3011.0,Maar,37.0,NaN,37.0,37.0
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,42.0,1926.0,1.0,23.0,NaN,NaN,10204.0,212040.0,Santorini,Greece,367.0,Shield volcano,48.0,2.0,48.0,48.0
42,43.0,1631.0,2.0,14.0,NaN,920.0,201141.0,221141.0,Dama Ali,Ethiopia,1068.0,Shield volcano,50.0,NaN,50.0,50.0
43,44.0,1843.0,11.0,25.0,NaN,NaN,10106.0,211060.0,Etna,Italy,3357.0,Stratovolcano,59.0,2.0,59.0,59.0
44,45.0,1944.0,12.0,4.0,NaN,NaN,60320.0,263200.0,Dieng Volcanic Complex,Indonesia,2565.0,Complex volcano,117.0,2.0,117.0,117.0
45,49.0,1979.0,2.0,20.0,NaN,NaN,60320.0,263200.0,Dieng Volcanic Complex,Indonesia,2565.0,Complex volcano,149.0,1.0,149.0,149.0
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,64.0,1672.0,8.0,4.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,3000.0,3.0,3000.0,3000.0
48,69.0,1822.0,12.0,27.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,100.0,3.0,100.0,100.0
49,71.0,1832.0,12.0,25.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,32.0,2.0,32.0,32.0
50,81.0,1872.0,4.0,15.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,30.0,4.0,30.0,30.0
51,82.0,1872.0,11.0,3.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,200.0,4.0,200.0,200.0
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,92.0,1920.0,7.0,25.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,35.0,2.0,35.0,35.0
54,94.0,1930.0,12.0,18.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,1369.0,3.0,1369.0,1369.0
55,100.0,1954.0,1.0,18.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,64.0,2.0,64.0,64.0
56,104.0,1961.0,5.0,8.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,6.0,3.0,6.0,6.0
57,105.0,1969.0,1.0,7.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,3.0,2.0,3.0,3.0
58,111.0,1986.0,12.0,31.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,1.0,2.0,1.0,1.0
59,112.0,1994.0,11.0,22.0,NaN,NaN,60325.0,263250.0,Merapi,Indonesia,2910.0,Stratovolcano,66.0,3.0,66.0,66.0
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,128.0,1716.0,7.0,20.0,NaN,NaN,60328.0,263280.0,Kelud,Indonesia,1730.0,Stratovolcano,NaN,2.0,NaN,NaN
66,132.0,1826.0,10.0,13.0,NaN,NaN,60328.0,263280.0,Kelud,Indonesia,1730.0,Stratovolcano,NaN,4.0,NaN,NaN
67,133.0,1848.0,5.0,16.0,NaN,NaN,60328.0,263280.0,Kelud,Indonesia,1730.0,Stratovolcano,22.0,3.0,22.0,22.0
68,135.0,1864.0,1.0,4.0,NaN,NaN,60328.0,263280.0,Kelud,Indonesia,1730.0,Stratovolcano,54.0,2.0,54.0,54.0
69,136.0,1875.0,1.0,29.0,NaN,NaN,60328.0,263280.0,Kelud,Indonesia,1730.0,Stratovolcano,NaN,NaN,NaN,NaN
70,137.0,1901.0,5.0,22.0,NaN,NaN,60328.0,263280.0,Kelud,Indonesia,1730.0,Stratovolcano,NaN,3.0,NaN,NaN
71,138.0,1919.0,5.0,19.0,NaN,NaN,60328.0,263280.0,Kelud,Indonesia,1730.0,Stratovolcano,5110.0,4.0,5110.0,5110.0
72,140.0,1951.0,8.0,31.0,NaN,NaN,60328.0,263280.0,Kelud,Indonesia,1730.0,Stratovolcano,7.0,4.0,7.0,7.0
73,141.0,1966.0,4.0,26.0,NaN,NaN,60328.0,263280.0,Kelud,Indonesia,1730.0,Stratovolcano,215.0,4.0,215.0,215.0
74,144.0,1990.0,2.0,10.0,NaN,NaN,60328.0,263280.0,Kelud,Indonesia,1730.0,Stratovolcano,35.0,4.0,35.0,35.0
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,167.0,1885.0,4.0,18.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,74.0,2.0,74.0,74.0
77,176.0,1895.0,5.0,22.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,80.0,2.0,80.0,80.0
78,191.0,1909.0,8.0,29.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,221.0,2.0,221.0,221.0
79,193.0,1911.0,11.0,8.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,NaN,3.0,NaN,NaN
80,195.0,1913.0,6.0,23.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,NaN,2.0,NaN,NaN
81,196.0,1941.0,9.0,21.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,NaN,2.0,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,199.0,1946.0,10.0,29.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,NaN,2.0,NaN,NaN
84,200.0,1950.0,8.0,28.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,6.0,1.0,6.0,6.0
85,201.0,1963.0,5.0,5.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,1.0,2.0,1.0,1.0
86,202.0,1967.0,8.0,31.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,3.0,3.0,3.0,3.0
87,203.0,1985.0,5.0,10.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,70.0,3.0,70.0,70.0
88,204.0,1978.0,9.0,19.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,12.0,3.0,12.0,12.0
89,205.0,1976.0,8.0,31.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,119.0,2.0,119.0,119.0
90,206.0,1981.0,3.0,29.0,NaN,NaN,60330.0,263300.0,Semeru,Indonesia,3657.0,Stratovolcano,1.0,3.0,1.0,1.0
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,333.0,1817.0,1.0,24.0,NaN,NaN,60335.0,263350.0,Ijen,Indonesia,2769.0,Stratovolcano,NaN,2.0,NaN,NaN
99,345.0,1963.0,9.0,5.0,NaN,NaN,60401.0,264010.0,Batur,Indonesia,1711.0,Caldera,2.0,2.0,2.0,2.0
100,351.0,1963.0,3.0,18.0,1942.0,NaN,60402.0,264020.0,Agung,Indonesia,2997.0,Stratovolcano,1028.0,5.0,1028.0,1028.0
101,353.0,1963.0,5.0,16.0,NaN,4292.0,60402.0,264020.0,Agung,Indonesia,2997.0,Stratovolcano,120.0,3.0,120.0,120.0
102,367.0,1815.0,4.0,10.0,613.0,NaN,60404.0,264040.0,Tambora,Indonesia,2850.0,Stratovolcano,60000.0,7.0,60000.0,11000.0
103,389.0,1969.0,1.0,28.0,NaN,NaN,60411.0,264110.0,Iya,Indonesia,618.0,Stratovolcano,2.0,3.0,2.0,2.0
104,394.0,1928.0,8.0,4.0,1607.0,NaN,60415.0,264150.0,Paluweh,Indonesia,875.0,Stratovolcano,226.0,3.0,226.0,98.0
105,395.0,1964.0,1.0,1.0,NaN,NaN,60415.0,264150.0,Paluweh,Indonesia,875.0,Stratovolcano,1.0,2.0,1.0,1.0
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,398.0,1981.0,9.0,5.0,NaN,NaN,60415.0,264150.0,Paluweh,Indonesia,875.0,Stratovolcano,NaN,2.0,NaN,NaN
108,410.0,1869.0,7.0,7.0,NaN,NaN,60418.0,264180.0,Lewotobi,Indonesia,1703.0,Stratovolcano,2.0,2.0,2.0,2.0
109,411.0,1907.0,9.0,28.0,NaN,NaN,60418.0,264180.0,Lewotobi,Indonesia,1703.0,Stratovolcano,1.0,2.0,1.0,1.0
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,441.0,1948.0,4.0,7.0,NaN,NaN,60425.0,264250.0,Iliwerung,Indonesia,583.0,Complex volcano,NaN,2.0,NaN,NaN
112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,447.0,1983.0,8.0,17.0,4702.0,NaN,60425.0,264250.0,Iliwerung,Indonesia,583.0,Complex volcano,NaN,1.0,NaN,NaN
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,457.0,1659.0,11.0,11.0,285.0,NaN,60505.0,265050.0,Teon,Pacific Ocean,728.0,Stratovolcano,NaN,4.0,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,466.0,1692.0,6.0,4.0,NaN,NaN,60507.0,265070.0,Serua,Pacific Ocean,608.0,Stratovolcano,NaN,4.0,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,477.0,1694.0,11.0,20.0,NaN,NaN,60509.0,265090.0,Banda Api,Pacific Ocean,596.0,Caldera,NaN,3.0,NaN,NaN
121,482.0,1820.0,6.0,11.0,NaN,NaN,60509.0,265090.0,Banda Api,Pacific Ocean,596.0,Caldera,NaN,2.0,NaN,NaN
122,486.0,1988.0,5.0,9.0,NaN,NaN,60509.0,265090.0,Banda Api,Pacific Ocean,596.0,Caldera,4.0,3.0,4.0,4.0
123,488.0,1983.0,7.0,23.0,NaN,NaN,60601.0,266010.0,Colo,Indonesia,404.0,Stratovolcano,NaN,4.0,NaN,NaN
124,489.0,1845.0,2.0,8.0,741.0,1865.0,60603.0,266030.0,Soputan,Indonesia,1785.0,Stratovolcano,118.0,2.0,NaN,NaN
125,525.0,1958.0,7.0,12.0,NaN,NaN,60611.0,266110.0,Mahawu,Indonesia,1299.0,Stratovolcano,1.0,2.0,1.0,1.0
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,533.0,1871.0,3.0,3.0,1022.0,NaN,60701.0,267010.0,Ruang,Indonesia,725.0,Stratovolcano,400.0,2.0,NaN,NaN
128,552.0,1940.0,6.0,20.0,NaN,NaN,60702.0,267020.0,Karangetang,Indonesia,1797.0,Stratovolcano,1.0,2.0,1.0,1.0
129,561.0,1974.0,2.0,11.0,NaN,NaN,60702.0,267020.0,Karangetang,Indonesia,1797.0,Stratovolcano,4.0,3.0,4.0,4.0
130,562.0,1976.0,9.0,15.0,NaN,NaN,60702.0,267020.0,Karangetang,Indonesia,1797.0,Stratovolcano,1.0,2.0,1.0,1.0
131,569.0,1889.0,9.0,6.0,1181.0,6309.0,60703.0,267030.0,Banua Wuhu,Indonesia,-5.0,Submarine volcano,NaN,2.0,NaN,NaN
132,578.0,1711.0,12.0,11.0,NaN,NaN,60704.0,267040.0,Awu,Indonesia,1318.0,Stratovolcano,3000.0,3.0,3000.0,3000.0
133,580.0,1812.0,8.0,6.0,NaN,NaN,60704.0,267040.0,Awu,Indonesia,1318.0,Stratovolcano,953.0,3.0,953.0,953.0
134,581.0,1856.0,3.0,2.0,859.0,1995.0,60704.0,267040.0,Awu,Indonesia,1318.0,Stratovolcano,2806.0,3.0,2806.0,2806.0
135,584.0,1892.0,6.0,7.0,1197.0,NaN,60704.0,267040.0,Awu,Indonesia,1318.0,Stratovolcano,1532.0,3.0,1532.0,1532.0
136,585.0,1913.0,3.0,14.0,1407.0,2973.0,60704.0,267040.0,Awu,Indonesia,1318.0,Stratovolcano,138.0,2.0,NaN,NaN
137,589.0,1966.0,8.0,12.0,NaN,NaN,60704.0,267040.0,Awu,Indonesia,1318.0,Stratovolcano,39.0,4.0,39.0,39.0
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,599.0,1673.0,5.0,20.0,312.0,NaN,60804.0,268040.0,Gamkonora,Indonesia,1635.0,Stratovolcano,NaN,5.0,NaN,NaN
140,607.0,1608.0,7.0,18.0,222.0,NaN,60806.0,268060.0,Gamalama,Indonesia,1714.0,Stratovolcano,NaN,3.0,NaN,NaN
141,617.0,1772.0,5.0,9.0,504.0,NaN,60806.0,268060.0,Gamalama,Indonesia,1714.0,Stratovolcano,35.0,3.0,35.0,35.0
142,618.0,1773.0,2.0,2.0,NaN,NaN,60806.0,268060.0,Gamalama,Indonesia,1714.0,Stratovolcano,NaN,2.0,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,627.0,1838.0,2.0,26.0,NaN,NaN,60806.0,268060.0,Gamalama,Indonesia,1714.0,Stratovolcano,4.0,2.0,4.0,4.0
145,629.0,1840.0,2.0,2.0,718.0,NaN,60806.0,268060.0,Gamalama,Indonesia,1714.0,Stratovolcano,NaN,3.0,NaN,NaN
146,643.0,1871.0,8.0,7.0,NaN,NaN,60806.0,268060.0,Gamalama,Indonesia,1714.0,Stratovolcano,1.0,2.0,1.0,1.0
147,657.0,1962.0,12.0,31.0,NaN,NaN,60806.0,268060.0,Gamalama,Indonesia,1714.0,Stratovolcano,5.0,2.0,5.0,5.0
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,664.0,1646.0,7.0,19.0,5754.0,10519.0,60807.0,268070.0,Kie Besi,Indonesia,1357.0,Stratovolcano,NaN,4.0,NaN,NaN
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,666.0,1861.0,12.0,29.0,NaN,NaN,60807.0,268070.0,Kie Besi,Indonesia,1357.0,Stratovolcano,326.0,4.0,326.0,326.0
152,669.0,1890.0,6.0,29.0,NaN,NaN,60807.0,268070.0,Kie Besi,Indonesia,1357.0,Stratovolcano,NaN,2.0,NaN,NaN
153,677.0,1873.0,1.0,16.0,NaN,NaN,70106.0,271060.0,Ragang,Philippines,2790.0,Stratovolcano,NaN,2.0,NaN,NaN
154,679.0,1871.0,4.0,30.0,1020.0,2179.0,70108.0,271080.0,Camiguin,Philippines,1552.0,Stratovolcano,NaN,2.0,NaN,NaN
155,680.0,1950.0,9.0,15.0,NaN,NaN,70108.0,271080.0,Camiguin,Philippines,1552.0,Stratovolcano,68.0,3.0,68.0,68.0

#### **TASK 1.3: Tailoring Time (10 Points)**
It's pretty obvious that the year, month, and day look pretty weird in the dataset. We're going to have to do some hardcore cleaning on the [time](https://pandas.pydata.org/docs/user_guide/timeseries.html).

**We need to have only ONE column called** "***date***" **that contains the full date (YYYY-MM-DD), not separated into three columns.**

***Make sure there are no floating point values in the date and sort the data from most recent to least.***

***Remove the old columns and place the new column next to the 'id' column.***


**YOU CAN USE MULTIPLE LINES OF CODE BUT CAN'T USE LOOPS.**

**Note:** It is alright to have only a **maximum of 12 NaTs** for some dates that often go further back than the 1600s because the datetime module in Pandas has a limit (unless otherwise guided).

In [233]:
new_df.insert(1, "date", [f"{new_df["year"][i]}-{int(new_df["month"][i]):02}-{int(new_df["day"][i]):02}" for i in range(len(new_df))])

KeyError: 0

### **Part 2: Volcanic Matryoshkas ü™Ü (30 POINTS TOTAL)**

Now, that most of the data has been tidied up. We will organize the data into more sizable pieces of information in order to extract useful information.

**2.1.1:** *(10 points here)*

Use the **groupby function in Pandas** to create separate dataframes for each unique country.

* **Each table must only have the columns**: 'date' 'country', 'name', and 'vei' (Having the index is ok. Up to you.)

* **Sort** the dataframe of **each country** by **highest to lowest 'vei'**

* Use the **[display](https://ipython.readthedocs.io/en/8.26.0/api/generated/IPython.display.html)** function to show **each sorted table**

**You MUST use the groupby function here and display your results.**

In [ ]:
from IPython.display import display
# REMOVE THIS COMMENT AND ANSWER STARTING HERE

**2.1.2:** *(5 points here)*

Using **groupby again**, print out the **maximum 'vei'** for **each unique country.**

**You MUST use the groupby function here and print your results.**

* **Print** out your results in a format like the following: "Country: {country_name}, Highest VEI: {vei}"

In [ ]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE

Finally, we have ALMOST REACHED THE END!!
Since there is still quite a bit of missing data, we want to make use of what is still available.

A very powerful tool in Python's magnificent collection of libraries is its beautiful graphing tools.

Check out libraries such as [Seaborn](https://seaborn.pydata.org/) or [Matplotlib](https://matplotlib.org/stable/index.html) to create meaningful visualizations! **Your final task in this section requires the use of these libraries**

**2.1.3:** *(15 points here)*

- Based on the **unique names of volcanoes**, **filter names that have more than 4 datapoints under their name.**
- Each datapoint in the dataframe refers to a recorded instance of a volcanic eruption.
- Make **separate line graphs for each volcano** and **plot their VEIs over time.**

**Make sure to properly label all parts of the graph appropriately to receive credit üëÄ** (like title, axes, legend, etc...)

In [ ]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE
# not adding the graphs here, but the graphs should have the volcano name as the title
# the x axis should be the years and the y axis should be the VEI
# A graph that doesn't have these things will only get partial points

### **Part 3: Fiery Jobs üöí (15 POINTS TOTAL)**

Proficiency in SQL is also super important. SQL databases are essentially relational databases in which there are vast amounts of tabular data. which can often be used to connect with related tablular data. [This](https://www.w3schools.com/sql/) is a pretty good intro into learning more about SQL.

Check out this [tutorial](https://mode.com/sql-tutorial/introduction-to-sql/) for some clarifications on SQL.

Now! We'll be using **`sqlite`** to access a database.
* **!!!IMPORTANT!!! PLEASE Start by downloading the sql lite file and putting it in the same directory as this [KAGGLE DATASET URL](https://www.kaggle.com/datasets/kaggle/sf-salaries) (hit the 'download' button in the upper right). You need an account in order to download the dataset.**
* Check out the description of the data so you know the table / column names.

The following code will use `sqlite3` to create a database connection. `sqlite3` is the library in Python that assists in navigating through SQL databases.

**Note:** If you are working on this assignment via Google Colab, sometimes the runtime resets and it will throw errors.

***Instead of running through the entire notebook, run the notebook from the following code block and onwards:***
- Click anywhere on the next code block.
- Go up to where it says **'Runtime'** in the toolbar (right under the title of the notebook and **in between 'Insert' and 'Tools'**)
- Hover over it and **click on the option** that says **'Run cell and below'**

In [ ]:
import sqlite3
import pandas as pd # Pandas was already imported from the previous sections

conn = sqlite3.connect("database.sqlite")
crsr = conn.cursor()

## **!!!IMPORTANT!!! PLEASE Start by downloading the sql lite file and putting it in the same directory as this [KAGGLE DATASET URL](https://www.kaggle.com/datasets/kaggle/sf-salaries) (hit the 'download' button in the upper right). You need an account in order to download the dataset.**

##### If you cannot see anything when executing this code, that means you did not download the Kaggle dataset correctly.

In [ ]:
# This code will let you check out the different tables within the database.
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = crsr.execute(query).fetchall()
print(tables)

#### **Remember that each problem should be solved with a single SQL query.**
**Note: All outputs must be shown**
- Only include whatever fields are mentioned throughout each question, nothing more and nothing less.
- Follow each instruction clearly

#### **3.1.1: 2 Points**
From the **Salaries** table, get the **average base pay** for firefighters (all job titles consisting of the word "firefighter" **(not case-sensitive)**) between the **years 2010 to 2015**.

*Remember that firefighters that also occupy other professions are still considered firefighters.*

*Hint: Look into [this](https://www.w3schools.com/mysql/mysql_wildcards.asp) üëÄ*

In [ ]:
query = '''

'''

# KEEP THIS. It will display the whole dataframe.
df = pd.read_sql(query, conn)
df

#### **3.1.2: 2 Points**
From the **Salaries** table, get all the firefighters (all job titles consisting of the word "firefighter" **(not case-sensitive)**) in the **year 2011** making under **$40,000 as a base pay.** **Sort** them in **descending** order by their pay.

*Remember that firefighters that also occupy other professions are still considered firefighters.*

In [ ]:
query = '''

'''
# KEEP THIS. It will display the whole dataframe.
df = pd.read_sql(query, conn)
df

#### **3.1.3: 4 Points**
From the **Salaries** table, first get the **averages** of **base pay**, **benefits**, and **overtime pay** for firefighters (all job titles consisting of the word "firefighter" **(not case-sensitive)**).

- Then, make a **column with the sum** of these **three averages**
- Finally, **exclude** job titles containing "FIREFIGHTER" **(case-sensitive)**

*Remember that firefighters that also occupy other professions are still considered firefighters.*

In [ ]:
query = '''

'''

# KEEP THIS. It will display the whole dataframe.
df = pd.read_sql(query, conn)
df

#### **3.1.4: 7 Points**

Finally, we'll make our own table in our database.

* Separate the **Salaries table** by **years (2010-2015)**, and add it back to the database.
- Using a loop might be helpful.

* You may use basic python to complete the task. However, using querying on SQL is **mandatory**.
* Feel free to **use multiple lines of code for this problem only.**

*Hint: Check [this](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html) out*

In [ ]:
# REMOVE THIS CONTENT AND ANSWER IN YOUR OWN WAY

In [ ]:
# Run this code to check if you successfully added your table.
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

![volcano](https://as1.ftcdn.net/v2/jpg/06/34/76/64/1000_F_634766457_0fZbpYj6aBLlldO1jADUPpKTRLnNmngs.jpg)

### **Part 4: Pandas 'Group By'(40 points)**

This flowchart is taken from our lecture class presentation and illustrates the process of transforming data using the Pandas GroupBy operation. First, the data is input, followed by applying the GroupBy function to one or more columns of the DataFrame. Once the data is grouped, an aggregation function (such as sum(), mean(), or count()) is applied to compute summary statistics for each group



![bonus](https://drive.google.com/uc?export=view&id=1OeO3cVJSgmk6QxeBUp5ojJQUGVAPB-Jx)

Your task is to translate the workflow shown in the flowchart into Pandas queries that perform these operations step by step.

**Notes:** Your task is to translate the workflow shown in the flowchart into Pandas queries. Ensure that the **exact input and exact output** from the flowchart are replicated using Pandas queries, step by step.

**4.1 (Point 10 )** Create a sample dataset that includes columns for account, order, and ext price.

In [ ]:
# Create the Sample dataset from above flowchart
input_data = {
    'account': ['383080', '383080', '383080', '412290', '412290','412290','412290','412290','218895','218895','218895','218895'],
    'order': ['10001', '10001', '10001', '10005', '10005','10005','10005','10005','10006','10006','10006','10006'],
    'ext_price': [235.83, 232.32, 107.97, 2679.36, 286.02, 832.95, 3472.04, 915.12, 3061.12, 518.65, 216.9, -72.18]
}

# Create DataFrame


# Display Dataframe (DONT REMOVE THE CODE)

**4.2 (Point 10+10 =20 )** Group by order and show the intermediate results

In [ ]:
# Group by 'order' and show intermediate result


# Display intermediate result for each group; hints: you have to use 'for loop'

**4.3 (Point 10 )** Apply the Sum Aggregation for Each Group

Now we'll apply the sum aggregation to get the total ext price for each order:

In [ ]:

# Repeat group by 'order' again and then apply aggregation (sum of 'ext_price' for each 'order')


# Show the aggregated result after re-grouping  (DONT REMOVE THE CODE)

**4.4 (Point 10)**  Combine the Results into One Final Table
Finally, we will **reset the index** and create a combined table that shows order and the sum of the ext price for each group:


**Notes**: In pandas, 'reset_index()' is a method used to reset the index of a DataFrame to its default integer-based index. By default, when you perform certain operations like groupby(), the resulting DataFrame may have a new index (e.g., the grouped column). The reset_index() method allows you to convert the current index back to a default sequential integer index and optionally, move the current index values into a regular column.

In [ ]:
# Reset index to combine result into a single DataFrame

# Rename the columns for clarity


# Show the final result  (DONT REMOVE THE CODE)

# Bonus(1 point): Assignment Submission with Jupyter Notebook file(ipynb) and PDF

In addition to the instruction of the special bonus question included exclusively in Assignment 1, we would like to highlight the importance of developing good practices for assignment submission in data science projects.

Think of yourself as a reviewer of your peers‚Äô work: what would you pay attention to if you had to grade their assignments? Clearly, the raw dataset itself is not the main point‚Äîwhy would someone need to see every line of data you downloaded? Data science is about analysis and insight, not just data collection. What truly matters is how you analyze the data and how you present your results.

For a clean and effective submission, please avoid printing entire datasets unless they are directly relevant to the presentation of your output or if you are asked to do so. Instead, focus on:

*   Showing your algorithm with clear, concise code
*   Displaying the key results you want us to evaluate (or the outputs you relied on while working)
*   Adding a short explanation when asked to interpret your findings

For this bonus question, please submit both your .ipynb file and the PDF version. To create a PDF: go to File (top left corner in Jupyter Notebook) ‚Üí Print ‚Üí Destination ‚Üí Save as PDF.

Are you noticing an overwhelming amount of unnecessary printed results in your PDF? This is exactly why we emphasize the importance of cleaning up your work before submission. Removing trivial data printing makes your notebook look much more professional and easier to review‚Äîjust like proofreading an essay for good grammar.

Your Homework 1 submission should be lightweight and focused, since this is a starter project designed to help you ease into the semester. :)

This practice helps us grade more efficiently and ensures fairness, since we can always reference your original notebook if regrading is needed.